<div class="banner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-8">
        <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-5">
          <%= image_tag 'Malene.jpg', alt: "profile photo", class: 'avatar' %>
          <div class="about">
            <h1>MALENE THISGAARD</h1>
            <br>
            <h3>About me</h3>
            <p>Hi, I'm Malene, a Web Developer located in Tokyo, who enjoys building interactive web applications from the ground up. From my background in psychology, behavioral design, and web editing, I aspire to create enjoyable and seamless user experiences.</p>
          </div>
        </div>
        <div class="pitch my-5 d-flex flex-column flex-md-row justify-content-center align-items-center gap-5">
          <div>
            <h3>JobJob Project Pitch</h3>
            <p>Check out my project pitch of JobJob. A web application to help you keep track of your job applications in one place.</p>
          </div>
          <iframe class="align-self-start" src="https://www.youtube.com/embed/yh8iZUNj8B8?start=4380" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>