<div class="banner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-8">
        <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-5">
          <%= image_tag 'Malene.jpg', alt: "profile photo", class: 'avatar' %>
          <div class="about">
            <h1>MALENE THISGAARD</h1>
            <br>
            <h3>About me</h3>
            <p>Full-stack developer who enjoys building projects from the ground up. From my background in psychology, behavioral design, and web editing, I aspire to create enjoyable and seamless user experiences.</p>
            <p>Looking to work as a Full-Stack Developer to be part of every step of the process and grow within a new company.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>