<div class="navbar">
  <h1 class="flex-grow-1">MT</h1>
  <div id="contact">
    <div class="d-flex justify-content-center flex-wrap">
      <div class="button-social d-flex flex-column justify-content-center align-items-center">
        <i class="fa-solid fa-envelope"></i>
        <%= mail_to "malene.thisgaard@gmail.com", "", class: 'button-social-link' %>
      </div>
      <div class="button-social d-flex flex-column justify-content-center align-items-center">
        <i class="fa-brands fa-github"></i>
        <%= link_to "", "https://github.com/mthisgaard", target: '_blank', class: 'button-social-link' %>
      </div>
      <div class="button-social d-flex flex-column justify-content-center align-items-center">
        <i class="fa-brands fa-linkedin"></i>
        <%= link_to "", "https://www.linkedin.com/in/malenethisgaard/", target: '_blank', class: 'button-social-link' %>
      </div>
    </div>
  </div>
</div>