<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="skills">
        <h2>Skills</h2>
        <div class="d-flex flex-wrap gap-2">
          <p class="skill">Ruby on Rails</p>
          <p class="skill">HTML & CSS</p>
          <p class="skill">Bootstrap</p>
          <p class="skill">JavaScript ES6</p>
          <p class="skill">StimulusJS</p>
          <p class="skill">React</p>
          <p class="skill">SQL</p>
          <p class="skill">git & GitHub</p>
          <p class="skill">Heroku</p>
        </div>
      </div>
    </div>
  </div>
</div>