.banner {
  height: 100vh;
  background-color: $green;
  color: white;
  display: flex;
  justify-content: between;
  align-items: center;
  padding: 0px 32px;
  padding-top: 70px;
}

@media (min-width: 100px) and (max-width: 768px) {
  .banner {
    height: 100%;
    padding-bottom: 32px;
  }
}
